@model AllPostsViewModel
@{
	ViewData["Title"] = "All Posts";
}

@if (!this.Model.Posts.Any())
{
	<h1>No posts yet.</h1>
}
else
{
	foreach (var post in this.Model.Posts)
	{
		<partial name="_SingleViewPost" model="post"/>
	}
}
