@model CreatePostModel
@{
    ViewData["Title"] = "Create post";
}

<div  class="card card-primary col-md-6 offset-3 ">
              <div class="card-header">
                <h3 class="card-title">Create</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form asp-controller="Post" asp-action="CreatePost" enctype="multipart/form-data" method="post">
                <div class="card-body">
                  <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control"  placeholder="Enter title">
                    <span asp-validation-for="Title" class="btn-danger" ></span>
                  </div>
                  <div class="form-group">
                    <label asp-for="Content"></label>
                    <input asp-for="Content" class="form-control" placeholder="Enter content of post">
                  </div>
                   <div class="form-group">
                    <label asp-for="PhotoPost"></label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input asp-for ="PhotoPost" class="custom-file-input" >
                        <label class="custom-file-label" asp-for="PhotoPost">Choose image</label>
                      </div>
                      <div class="input-group-append">
                        <span class="input-group-text">Upload</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(function () {
            bsCustomFileInput.init();
        });
    </script>
}