@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4" style="color:white">Welcome to Blog G&M</h1>

</div>
<div class = "row">

</div>

@section Scripts{
    <script>
           const body = document.getElementsByTagName('body')[0];

           body.classList.add('backgroundImage');
    </script>
}
